@charset "UTF-8";

body {
    font-family: 'Times New Roman', Times, serif;
}
 #container img {
    display: block;
    margin: auto;
    width: 300px;
}

#container h1,h2 {
    text-align: center;
}

#container  p {
    text-align: center;
    font-size: 1.4em;
}

#container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

 #container li {
    font-size: 1.4em;
}

#container a {
    text-align: left;
}

 #container .linksImportantes {
    display: block;
    text-align: center;
}

 #container figcaption,footer {
    text-align: center;
    background-color: #222;
  color: #fff;
}

 #container table {
    position: relative;
    border-collapse: collapse;
    border: 1px solid black;

}

#container caption {
    font-size: 1.5em;
    font-weight: bold;
}

 #container td,th {
    text-align: center;
    border: 1px solid black;
}


form {
    text-align: center;
}

button {
    margin-top: 7px;
}